# Build output
dist/
.astro/
build/Release
.next
out
.nuxt
.vuepress/dist
**/.vitepress/dist
.docusaurus

# Dependencies
node_modules/
jspm_packages/
bower_components
web_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output
lib-cov

# TypeScript cache
*.tsbuildinfo

# Cache directories
.cache
.parcel-cache
.temp
.vuepress/dist
**/.vitepress/cache
.svelte-kit/
.eslintcache
.stylelintcache

# Environment variables
.env
.env.*
.env.production
!.env.example

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# Firebase cache directory
.firebase/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# macOS-specific files
.DS_Store

# IDE folders
.idea/
.grunt
.lock-wscript
