---
import { MainPage } from "../components/mainpage/MainPage";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Observatorio Ambiental Digital</title>
  </head>
  <body>
    <MainPage client:only="react" />
  </body>
</html>
