---
import Layout from '../layouts/Layout.astro';
import { GraficosPersonalizadosPageWithAuth } from '../components/GraficosPersonalizadosPageWithAuth.tsx';
---
<Layout title="Gráficos Personalizados">
  <main>
    <GraficosPersonalizadosPageWithAuth client:load />
  </main>
</Layout>