---
import Layout from '../layouts/Layout.astro';
import { GraficosPageContent } from '../components/GraficosPersonalizadosPage.tsx';
---
<Layout title="Gráficos Personalizados">

  <main>
    <GraficosPageContent client:load />
  </main>

</Layout>