---
import Layout from '../layouts/Layout.astro';
import { GraficosPersonalizadosPage } from '../components/GraficosPersonalizadosPage.jsx';
---
<Layout title="Gráficos Personalizados">

  <main>
    <GraficosPersonalizadosPage />
  </main>

</Layout>