---
import Layout from '../layouts/Layout.astro';
import { LoginPage } from '../components/LoginPage.tsx';
---
<Layout title="Iniciar Sesión">
  <main>
    <LoginPage client:load />
  </main>
</Layout>