---
import Layout from '../layouts/Layout.astro';
import { LoginPageWithAuth } from '../components/LoginPageWithAuth.tsx';
---
<Layout title="Iniciar Sesión">
  <main>
    <LoginPageWithAuth client:load />
  </main>
</Layout>