---
import Layout from '../layouts/Layout.astro';
import { MapaInteractivoPage } from '../components/MapaInteractivoPage.tsx';
---
<Layout title="Mapa Interactivo">
  
  <main>
    <MapaInteractivoPage client:only="react" />
  </main>

</Layout>