---
import Layout from '../layouts/Layout.astro';
import { RegisterPageWithAuth } from '../components/RegisterPageWithAuth.tsx';
---
<Layout title="Registro">
  <main>
    <RegisterPageWithAuth client:load />
  </main>
</Layout>